{{!-- <main>
  <form class="p-4 w-75" action="/comment/:{{this.id}}" method="POST">
    <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea type="text" name="comment" class="form-control" id="comment"
        placeholder="Type your comment here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
</main> --}}